<nav>
    <img src="logoPic.webp" alt="Logo">
    <div class="nav-links">
        <a routerLink="**" class="nav-link">Home</a>
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Register</a>
        <a routerLink="/filter" class="nav-link">All Products</a>
        <a routerLink="/map" class="nav-link">map 🦆</a>
        <a routerLink="/size" class="nav-link">size 👌</a>
        <a routerLink="/cart" class="nav-link">🛒</a>
    </div>
</nav>
<router-outlet></router-outlet>